.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-text-1 {
  width: 882px;
  margin: 36px auto 0;
}

.u-section-1 .u-image-1 {
  width: 644px;
  height: 415px;
  margin: 53px 239px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 53px auto 0;
  padding: 9px 61px 9px 59px;
}

.u-section-1 .u-text-2 {
  margin: 36px 239px 49px 217px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 139px;
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 29px;
    margin-left: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 348px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-bottom: 44px;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 219px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 50px;
    margin-left: 90px;
  }
}